<nav class="navbar">
    <div class="navbar-container">
      <a class="navbar-brand" routerLink="/">
        <img src="logo.png" alt="Logo" class="logo" />
      </a>
      <button class="navbar-toggler" (click)="toggleMenu()">
        &#9776;
      </button>
      <ul class="navbar-menu" [ngClass]="{ 'active': isMenuOpen }">
        <li><a class="nav-link" routerLink="/">Home</a></li>
        <li><a class="nav-link" routerLink="/reservation">Reservation</a></li>
        <li><a class="nav-link" routerLink="/contact">Contact</a></li>
      </ul>
    </div>
  </nav>
  