.navbar {
  display: flex;
  justify-content: center;
  background: white;
  padding: 15px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  width: 70vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand img {
  width: 80px;
  height: 80px;
}

.navbar-brand-text {
  text-transform: capitalize;
  transition: all 0.2s ease-in-out;
}

.navbar-brand:hover .navbar-brand-text {
  color: rgb(0, 68, 255);
}

.navbar-menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 3rem;
}

.navbar-menu li {
  display: inline;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: bold;
}

.nav-link:hover {
  color: #555;
}

.navbar-toggler {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}



@media (max-width: 1280px) {
  .navbar-brand-text {
    display: none; /* Hide the span on smaller screens */
  }
}
@media (max-width: 768px) {
  .navbar-toggler {
    display: block;
  }



  .navbar-menu {
    display: none;
    flex-direction: column;
    gap: 1rem;
    background: white;
    position: absolute;
    top: 100%; /* Adjust this value based on your navbar height */
    right: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1rem 5rem;
  
    z-index: 3;
  }
  
  .navbar-menu.active {
    display: flex;
  }
}